In [1]:
import pandas as pd
import numpy as np

In [44]:
df_exp = pd.read_csv('data/contribution_experiment.csv')
df_con = pd.read_csv('data/contribution_processed.csv')

/Users/alikhannurlanuly/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [47]:
df_con.head()

,Unnamed: 0,Address,Amount,Assumed Office,Assumed office,City,Contributor_ID,Contributor_Type,Date,District,...,Principal_Officer,Report_ID,Representative,State,Zip,Donor_Name,Industry,PAC,Donor_clean,Lobbyist
0,7373,270 S. Common Street,500.0,2016,NaN,Lynn,NaN,Individual,2015-01-01,10th Essex,...,NaN,217037,Daniel F. Cahill,MA,01905,PATRICK MCGRATH,NaN,NaN,PATRICKMCGRATH,False
1,7374,186 Perkins Row,250.0,2016,NaN,Topsfield,NaN,Individual,2015-01-15,10th Essex,...,NaN,217037,Daniel F. Cahill,MA,01983,THOMAS DEMAKIS,Self-Employed,NaN,THOMASDEMAKIS,False
2,7634,11 Lake Ave.,25.0,2016,NaN,Lynn,NaN,Individual,2015-03-02,10th Essex,...,NaN,217124,Daniel F. Cahill,MA,10904,LORETTA O'DONNELL,Unreported,NaN,LORETTAODONNELL,False
3,7635,7 William St.,50.0,2016,NaN,Lynn,NaN,Individual,2015-03-02,10th Essex,...,NaN,217124,Daniel F. Cahill,MA,01904,STEPHEN SPENCER,Unreported,NaN,STEPHENSPENCER,False
4,7636,20 Bulfinch Ter.,50.0,2016,NaN,Lynn,NaN,Individual,2015-03-02,10th Essex,...,NaN,217124,Daniel F. Cahill,MA,01902,ANN MARIE LEONARD,Unreported,NaN,ANNMARIELEONARD,False

In [49]:
df_exp.head()

,Unnamed: 0,Address,Amount,City,Contributor_ID,Contributor_Type,Date,Employer,First_Name,Full_Name,...,Occupation,Principal_Officer,Report_ID,State,Zip,Donor_Name,Industry,PAC,Lobbyist,Industry_new
0,0,270 S. Common Street,500.0,Lynn,NaN,Individual,2015-01-01,McGrath Enterprises,Patrick,Daniel F. Cahill,...,Developer,NaN,217037,MA,01905,PATRICK MCGRATH,NaN,NaN,False,NaN
1,1,186 Perkins Row,250.0,Topsfield,NaN,Individual,2015-01-15,Self,Thomas,Daniel F. Cahill,...,Attorney,NaN,217037,MA,01983,THOMAS DEMAKIS,Healthcare,NaN,False,NaN
2,2,11 Lake Ave.,25.0,Lynn,NaN,Individual,2015-03-02,NaN,Loretta,Daniel F. Cahill,...,NaN,NaN,217124,MA,10904,LORETTA O'DONNELL,NaN,NaN,False,NaN
3,3,7 William St.,50.0,Lynn,NaN,Individual,2015-03-02,NaN,Stephen,Daniel F. Cahill,...,NaN,NaN,217124,MA,01904,STEPHEN SPENCER,NaN,NaN,False,NaN
4,4,20 Bulfinch Ter.,50.0,Lynn,NaN,Individual,2015-03-02,NaN,Ann Marie,Daniel F. Cahill,...,NaN,NaN,217124,MA,01902,ANN MARIE LEONARD,NaN,NaN,False,NaN

In [50]:
def add_both(con, exp):
    if con is np.nan:
        return exp
    return con

In [51]:
df_exp.head()

,Unnamed: 0,Address,Amount,City,Contributor_ID,Contributor_Type,Date,Employer,First_Name,Full_Name,...,Occupation,Principal_Officer,Report_ID,State,Zip,Donor_Name,Industry,PAC,Lobbyist,Industry_new
0,0,270 S. Common Street,500.0,Lynn,NaN,Individual,2015-01-01,McGrath Enterprises,Patrick,Daniel F. Cahill,...,Developer,NaN,217037,MA,01905,PATRICK MCGRATH,NaN,NaN,False,NaN
1,1,186 Perkins Row,250.0,Topsfield,NaN,Individual,2015-01-15,Self,Thomas,Daniel F. Cahill,...,Attorney,NaN,217037,MA,01983,THOMAS DEMAKIS,Healthcare,NaN,False,NaN
2,2,11 Lake Ave.,25.0,Lynn,NaN,Individual,2015-03-02,NaN,Loretta,Daniel F. Cahill,...,NaN,NaN,217124,MA,10904,LORETTA O'DONNELL,NaN,NaN,False,NaN
3,3,7 William St.,50.0,Lynn,NaN,Individual,2015-03-02,NaN,Stephen,Daniel F. Cahill,...,NaN,NaN,217124,MA,01904,STEPHEN SPENCER,NaN,NaN,False,NaN
4,4,20 Bulfinch Ter.,50.0,Lynn,NaN,Individual,2015-03-02,NaN,Ann Marie,Daniel F. Cahill,...,NaN,NaN,217124,MA,01902,ANN MARIE LEONARD,NaN,NaN,False,NaN

In [52]:
df_exp['Industry'] = df_con['Industry']

In [53]:
df_exp['Industry'].value_counts()

Unreported         50347
Retired             8626
Real Estate         5632
Healthcare          4955
Self-Employed       4157
Unemployed          3659
Education           3477
Law Enforcement     2246
Government          1856
Transportation       647
Utilities            562
Biotech/Pharma        17
Name: Industry, dtype: int64

In [54]:
df_exp['Industry_joined'] = df_exp[['Industry', 'Industry_new']].apply(lambda x: add_both(x[0], x[1]), axis = 1)

In [55]:
df_exp['Industry_joined'].value_counts().sum()

94986

In [56]:
df_exp['Industry_joined'].value_counts()

Unreported                        50347
Retired                            8626
Real Estate                        6411
Healthcare                         5463
Self-Employed                      4157
Education                          3684
Unemployed                         3659
Government                         2278
Law Enforcement                    2246
Finance,Banking and Insurance      1206
Government Relations               1169
Law Practice                       1115
Retail and Wholesale Trade          993
Transportation                      904
IT                                  891
Business Management                 690
Utilities                           672
Accomodation and Food Services      298
Biotech/Pharma                      177
Name: Industry_joined, dtype: int64

In [74]:
df_con[df_con['First_Name'].isnull()]['Donor_Name'].value_counts().sum()

9531

In [75]:
df_exp.shape[0]

118461

In [76]:
99000 / 118461

0.8357180844328513

In [77]:
94986 / 118461

0.8018335148276649

In [78]:
df_exp.to_csv('data/contribution_processed.csv')

In [1]:
# Data wrangling before visialusation

In [ ]:
datasets_dir = os.getcwd() + '/data/'
contributions = 'contribution_processed.csv'
df_contributions = pd.read_csv(datasets_dir + contributions, encoding = 'latin1')
statereps_2016 = 'State_Reps_2015-2016.csv'
df_reps_2016 = pd.read_csv(datasets_dir + statereps_2016, encoding = 'latin1')
statereps_2018 = 'State_Reps_2017-2018.csv'
df_reps_2018 = pd.read_csv(datasets_dir + statereps_2018, encoding = 'latin1')

# Get list of all elected Candidates from 2015-2018
reps = [df_reps_2016, df_reps_2018]
df_reps = pd.concat(reps, sort=True)
df_reps.drop_duplicates(subset=['Representative'], keep='first', inplace=True)

df_contributions = df_contributions.merge(df_reps, how='left', left_on='Full_Name', right_on='Representative')
df_contributions.drop(columns=['Unnamed: 0','Unnamed: 0.1'],inplace=True)
df_contributions.to_csv(os.getcwd() +  '/data/contribution_processed.csv')