In [74]:
import pandas as pd 
# data from 2009-10-1 to 2019-10-1

In [75]:
def data_include_action_year(data, year):

    prime_award_action_year = data.str.contains(year, regex=False)
    j =0; 
    for include2009 in prime_award_action_year[:]:
        if include2009 == True:
            j+=1; 
    return j

In [76]:
data = pd.read_csv("data/dataset_sample/all_prime_awards_subawards_20191019201603118206/all_assistance_prime_awards_1.csv") 
# Preview the first 5 lines of the loaded data 
print(data.shape)
data.head()

# Nothing to see from modified date

# data = data["last_modified_date"]
# action_year = '2019-'
# numberIncluded = data_include_action_year(data, action_year)
# print("last modified date of all_prime_awards_subawards : ")
# print("number of",action_year,"Included -> ", numberIncluded)

(25868, 79)

/Users/yong.zhou/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,assistance_award_unique_key,award_id_fain,award_id_uri,sai_number,obligated_amount,non_federal_funding_amount,total_funding_amount,face_value_of_loan,original_subsidy_cost,total_subsidy_cost,...,highly_compensated_officer_1_amount,highly_compensated_officer_2_name,highly_compensated_officer_2_amount,highly_compensated_officer_3_name,highly_compensated_officer_3_amount,highly_compensated_officer_4_name,highly_compensated_officer_4_amount,highly_compensated_officer_5_name,highly_compensated_officer_5_amount,last_modified_date
0,ASST_NON_01CH010243_7590,01CH010243,NaN,SAI UNAVAILABLE,27918871.0,0.0,27918871.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04-18 20:06:52.934872+00
1,ASST_NON_01CH010375_7590,01CH010375,NaN,SAI UNAVAILABLE,15105876.0,0.0,15105876.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-20 15:18:33.186727+00
2,ASST_NON_01CH010464_7590,01CH010464,NaN,SAI UNAVAILABLE,4114599.0,0.0,4114599.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-05 16:44:07.218909+00
3,ASST_NON_01CH010465_7590,01CH010465,NaN,SAI UNAVAILABLE,7922342.0,0.0,7922342.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-05-03 17:05:57.421948+00
4,ASST_NON_01CH10003_7590,01CH10003,NaN,SAI UNAVAILABLE,9663601.0,0.0,9663601.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-05 16:54:41.512159+00

In [80]:
data = pd.read_csv("./dataset_sample/all_prime_awards_subawards_20191019201603118206/all_assistance_subawards_1.csv") 
# Preview the first 5 lines of the loaded data 
print("data.shape              -> ",data.shape)
data.head()



action_year = '2010-'
numberIncluded = data_include_action_year(data["prime_award_action_date"], action_year)
print("prime_award_action_date : ")
print("number of",action_year,"Included -> ", numberIncluded, "\n")

# action_year = '2010'
# numberIncluded = data_include_action_year(data["prime_award_action_date_fiscal_year"], action_year)
# print("number of",action_year,"Included -> ", numberIncluded)

action_year = 'FY2010'
numberIncluded = data_include_action_year(data["prime_award_fiscal_year"], action_year)
print(" prime_award_fiscal_year : ")
print("number of",action_year,"Included -> ", numberIncluded)

data.shape              ->  (10941, 86)
prime_award_action_date :
number of 2010- Included ->  58

 prime_award_fiscal_year :
number of FY2010 Included ->  52

/Users/yong.zhou/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (72) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [82]:
data = pd.read_csv("./dataset_sample/all_prime_awards_subawards_20191019201603118206/all_contracts_prime_awards_1.csv") 

# print("data.shape:                ->",data.shape)
# data.head()

#we need to 

start_year = '2009'
numberIncluded = data_include_action_year(data["period_of_performance_start_date"], start_year)
print("period_of_performance_start_date : ")
print("total # start year in",start_year," -> ", numberIncluded, "\n")

data = data["last_modified_date"]
action_year = '2010-'
numberIncluded = data_include_action_year(data, action_year)
print("last modified date : ")
print("total # modified year in",action_year,"Included -> ", numberIncluded)

/Users/yong.zhou/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (11,12,15,30,40,45,46,54,59,60,61,62,63,76,77,84,85,86,87,104,132,133,138,252,254,256,258,260) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

period_of_performance_start_date :
total # start year in 2009  ->  857

last modified date :
total # modified year in 2010- Included ->  776

In [79]:
data = pd.read_csv("./dataset_sample/all_prime_awards_subawards_20191019201603118206/all_contracts_subawards_1.csv") 
# Preview the first 5 lines of the loaded data 
print(data.shape)
data.head()


action_year = '2010-'
numberIncluded = data_include_action_year(data["prime_award_action_date"], action_year)
print("action year of prime_award_action_date : ")
print("number of",action_year,"Included -> ", numberIncluded, "\n")

# action_year = '2010'
# numberIncluded = data_include_action_year(data["prime_award_action_date_fiscal_year"], action_year)
# print("number of",action_year,"Included -> ", numberIncluded)

action_year = 'FY2010'
numberIncluded = data_include_action_year(data["prime_award_fiscal_year"], action_year)
print("fiscal year of prime_award_fiscal_year : ")
print("number of",action_year,"Included -> ", numberIncluded)

(1245, 87)
action year of prime_award_action_date :
number of 2010- Included ->  93

fiscal year of prime_award_fiscal_year :
number of FY2010 Included ->  53