# Data Cleaning

In [3]:
import pandas as pd
import numpy as np

In [4]:
# import sdo mde data
exl = pd.read_excel("data/sdo_mbe_data/BusinessDirectorySearch1.xlsx", header = 0)

In [5]:
exl.shape

(2897, 29)

In [6]:
exl.columns

Index(['Business_Name', 'Business_DBA', 'BusinessType_Desc',
       'BusinessContact_Salutation', 'BusinessContact_FirstName',
       'BusinessContact_LastName', 'BusinessContact_Title',
       'BusinessContact_Email', 'Business_Addressline1',
       'Business_AddressLine2', 'Business_City', 'Business_State',
       'Business_Zip5', 'Business_Zip4', 'Business_Phone', 'Business_Fax',
       'Business_HomePageURL', 'Business_Services', 'ACDBE_Business_Services',
       'PrimaryNAICSCodeSDO', 'PrimaryNAICSCode', 'ACDBENAICSCode',
       'Business_ClientID', 'BusinessDuns_No', 'DBE_Business_Services',
       'Certification_Type', 'Certification_Organization', 'SDO_Certification',
       'Renewed_Certification'],
      dtype='object')

In [7]:
# Select only Mass Businesses 
exl = exl[exl["Business_State"] == "MA"]

In [8]:
exl.shape

(1969, 29)

In [9]:
exl["BusinessDuns_No"].isnull().sum()

1903

Most rows does not contain Duns numbers, only 66 among 1969 have duns

In [10]:
# Select useful attributes 
usefulData = exl[["Business_Name", "BusinessContact_FirstName", "BusinessContact_LastName", "Business_City", "Business_State", "PrimaryNAICSCode", "BusinessDuns_No", "Business_ClientID"]]

In [11]:
# Add a full name attribute (for Ethnicolr predictions)
usefulData["BusinessContact_FullName"] = usefulData["BusinessContact_FirstName"] + " " + usefulData["BusinessContact_LastName"]

/Users/pippidebree/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
usefulData.head()

,Business_Name,BusinessContact_FirstName,BusinessContact_LastName,Business_City,Business_State,PrimaryNAICSCode,BusinessDuns_No,Business_ClientID,BusinessContact_FullName
2,"1 Stop Design Shop, Inc.",Christine,Hennigan,Woburn,MA,"541430, 541890, 424320, 424330, 454111, 519130...",NaN,20050182,Christine Hennigan
3,"1 Stop Design Shop, Inc.",Christine,Hennigan,Woburn,MA,"541430, 541890, 424320, 424330, 454111, 519130...",NaN,20050182,Christine Hennigan
6,"1854, LLC",Brandale,Randolph,Framingham,MA,NaN,NaN,20180275,Brandale Randolph
8,"21ST Century Home Care, Inc.",Judith,Joseph,Canton,MA,624120,NaN,20060119,Judith Joseph
9,"2ndPath Energy, LLC",Heather,Takle,Bolton,MA,541690,NaN,20180226,Heather Takle

In [13]:
# change data type to string 
usefulData["Business_Name"] = usefulData.Business_Name.astype(str)

/Users/pippidebree/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [14]:
usefulData["Business_Name"].dtype

dtype('O')

In [15]:
# Export data
usefulData.to_csv("data/sdo_mbe_data/cleanedMBEData.csv", index=False)